<div class="e-cart--product--container">
    <!-- <img [src]="product.pImage" >
    <p>Name: {{product.name}}</p>
    <p>Price: ${{product.price}} </p>
    <p>Color: {{product.color}} </p>
    <p>Discounted Price: ${{ getDiscountedPrice().toFixed(2) }}</p>
    <div>
        {{product.instock < 11 ? (product.instock > 0 ? 'Only ' + product.instock + ' left ': 'Not in Stock') : 'Instock'}}  
    </div>
    
    
    <button [disabled] = "!(product.instock > 0)" >Buy Now</button>
    <input [value] = "name" (input)="onNameChange($event)"> <br>
    <p>name = {{name}}</p> 
    <button (click) = "decreamentCartValue()">-</button>
    <span>{{ addToCart }}</span>
    <button (click) = "increamentCartValue()">+</button>  -->
    <app-search></app-search>
    <!-- <div *ngFor="let item of listOfString">
         <p> Current elemnt of array is: {{item}} </p>
    </div> -->
    <app-product-list></app-product-list>
</div>  