<div class="ecart--products--conatiner"> 
    <div class="ecart--product--item" *ngFor="let prod of products">
        <div class="ecart-wishlist-sale-container">
            <div class="ecart--add--to--wishlist">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
            </div>  

            
            <div class="ecart-on-sale-tag" *ngIf="prod.discountPrice">{{ (100 - (prod.discountPrice / prod.price * 100)).toFixed(0) }} %</div>
        </div>
        <div class="ecart--product--image">
            <img [src]="prod.imageURL" class="ecart--product--image">
        </div>
        <div class="ecart--add--to--price">
            {{prod.price}}
        </div>
        <div class="ecart--product--name">{{prod.name}}</div>
        <div class="ecart--product--category">{{prod.gender}} . {{prod.category}} . {{prod.brand}}</div>
        <div class="ecart--product--available-colors">{{prod.color.length}} Colors . Best Seller</div>
    </div>
</div>